<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebCamMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key ="relativeDefaultMainChannelSettingsFile" value="Resources\XMLs\configex.xml"/>
    <add key ="relativeDefaultOtherChannelSettingsFile" value="Resources\XMLs\otherChannelSettings.xml"/>
    <add key ="relativeDefaultChannelSnapshotFolder" value="Resources\Snapshots\Channels"/>
    <add key ="relativeDefaultPlayerSnapshotFolder" value="Resources\Snapshots\Players"/>
    <add key="ChannelInfoTable" value="ChannelInfo"/>
  </appSettings>
    <userSettings>
        <WebCamMonitor.Properties.Settings>
            <setting name="textBoxMainChannelSettingsFileText" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxChannelBaseLinkText" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxSettingsDataTableText" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxLinkText" serializeAs="String">
                <value />
            </setting>
            <setting name="checkBoxLoadChannelsChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxStartChannelsChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radioButtonLoadAllChannelsChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radioButtonLoadLoadedChannelsChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radioButtonStartAllChannelsChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radioButtonStartLoadedChannelsChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="textBoxMonitorLayoutsFolderText" serializeAs="String">
                <value />
            </setting>
            <setting name="tabControlMonitorsSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="listBoxSettingsPagesSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="textBoxOtherChannelSettingsFileText" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxChannelSnapshotFolderText" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxPlayerSnapshotFolderText" serializeAs="String">
                <value />
            </setting>
        </WebCamMonitor.Properties.Settings>
    </userSettings>
</configuration>